html,
body {
  margin: 0;
  padding: 0;
  background: #f6f9fc;
  appearance: none;
  font-family: "Inter", sans-serif;
}
canvas {
  display: block;
}

@font-face {
  font-family: "soehne";
  src: url(./fonts/soehne-fett.woff2) format("woff2");
}

@font-face {
  font-family: "soehne";
  src: url(../fonts/soehne-kraftig.woff2) format("woff2");
}

@font-face {
  font-family: "TiemposHeadline";
  src: url(../fonts/TiemposHeadline/tiempos-headline-medium.woff2)
    format("woff2");
}

@font-face {
  font-family: "TiemposHeadline";
  src: url(./fonts/TiemposHeadline/tiempos-headline-light.woff2) format("woff2");
}

.intro-section {
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 70px;
  background-color: #e8f3e8;
  box-sizing: border-box;
}

.intro-container {
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 130px;
  background-color: #e8f3e8;
}

#h1 {
  display: block;
  font-family: "TiemposHeadline", serif;
  font-weight: 600;
  font-size: 45px;
  color: #222222;
  text-align: center;
}

/*.divider1 {
  display: block;
  width: auto;
  margin-left: 70px;
  margin-right: 70px;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(63, 63, 55, 0.15);
}*/

/* .control-panel-divder1{
  display: block;
  width: auto;
  align-items: center;
  border-style: solid;
  border-width: 0.05rem;
  border-color: #878787;

} */

#layout {
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 0.6fr 0.25fr;
  box-sizing: border-box;
  column-gap: 30px;
}
#canvas-parent {
  display: inline-block;
  height: max(50vh, 50vw);
  width: max(50vh, 50vw);
  /* height: 1080px;
  width: 1080px; */
  border-radius: 0.5rem;
  padding: 0.15rem;
  box-shadow: 0 2px 4px 0 hsla(60, 7%, 23%, 0.15);
}

.control-panel-grid {
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  background-color: #ffff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 rgba(63, 63, 55, 0.15);
  padding: 0.5rem 2rem 2rem 2rem;
  /* height: 1070px;
  width: 280px; */
}

.control-title {
  display: block;
  font-family: "soehne";
  font-weight: 300;
  font-size: 13pt;
  margin-top: 15px;
  margin-bottom: 35px;
  align-items: center;
  border-bottom: 2px solid #e8e8e8;
  letter-spacing: 0.1px;
  padding: 0 0 0.6rem;
}

.intro-title {
  display: block;
  font-family: "TiemposHeadline";
  font-weight: 600;
  font-size: 24pt;
  margin-top: 35px;
  margin-bottom: 15px;
  align-items: center;
  border-bottom: 2px solid #e8e8e8;
  letter-spacing: 0.1px;
  padding: 0 0 0.6rem;
}

/* input#p5input:before {
  content: 'Choose a file (PNG or JPG)';
  display: block;
  background: #5352ed;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  
}

input#p5input:hover:before {
  background: #3742fa; 
}*/

input#p5input::file-selector-button {
  content: "Choose a file (PNG or JPG)";
  display: block;
  background: #5352ed;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
  border: 0px solid;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

input#p5input:hover::file-selector-button {
  background: #3742fa;
}

#intro-text {
  font-family: "Inter", sans-serif;
  font-size: 9pt;
  line-height: 15pt;
  letter-spacing: 0.02em;
  margin: none;
  color: #878787;
}

#file-control {
  display: block;
  width: 100%;
  margin-bottom: 10%;
}

#gridSlider {
  display: block;
  width: 100%;
  margin-bottom: 15%;
}


/* CSS for Slider Grid option control  */
input[type="range"]::-webkit-slider-runnable-track {
  display: inline;
  height: 0.2rem;
  width: 2rem;
  background: #000000;
  outline: none;
  cursor: pointer;
}

/* Track Styles for: Firefox */
input[type="range"]::-moz-range-track {
  background: #000000;
  height: 0.18rem;
  width: auto;
}

/* Thumb Styles for: Chrome, Safari, Opera, and Edge */
input[id="gridSlider"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 5px;
  border-radius: 2rem;
  margin-top: -0.4rem; /* Centers thumb on the track */
  background-color: #5352ed;
  z-index: 1;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background-color: #3742fa;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* Thumb Styles for: Firefox */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.4rem; /*Removes default border-radius that FF applies*/
  background-color: #5352ed;
  height: 2rem;
  width: 1.5em;
}

/* Hover Styles for: Firefox */
input[type="range"]:hover::-moz-range-thumb {
  background: #3742fa;
  cursor: pointer;
  transition-duration: 0.2s;
}

#bg-color button {
  display: inline-flex;
  height: 33px;
  width: 33px;
  color: transparent;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 3%;
  margin-bottom: 8%;
}

#bg-color {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between
}

#b1 {
  background-color: #5352ed;
  border: 0px solid;
}

#b2 {
  background-color: #96a1eb;
  border: 0px solid;
}

#b3 {
  background-color: #49c5b6;
  border: 0px solid;
}

#b4 {
  background-color: #e8f3e8;
  border: 0px solid;
}

#b5 {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
}

#b6 {
  background-color: #000000;
  border: 0px solid;
}

#b7 {
  background-color: #fefaf4;
  border: 1px solid #d3d3d3;
}

#b1:hover,
#b2:hover,
#b3:hover,
#b4:hover,
#b7:hover {
  border: 1.5px solid #222222;
}

#b5:hover {
  border: 1.5px solid #222222;
}

#b6:hover {
  border: 1.5px solid #e1e1e1;
}

.text-title,
.download-title,
.bgc-title {
  display: block;
  font-family: "soehne";
  font-weight: 200;
  font-size: 13pt;
  margin-top: 15px;
  margin-bottom: 20px;
  align-items: center;
  border-bottom: 2px solid #e8e8e8;
  letter-spacing: 0.1px;
  padding: 0 0 0.6rem;
}

input[type="text"],
textarea {
  appearance: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #f7f9fc;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

input[type="text"],
select,
textarea {
  height: 100px;
  font-family: "Inter", sans-serif;
  font-size: 10pt;
  resize: none;
  padding: 10px;
  white-space: nowrap;
  width: 100%; /* Set the width of the textarea to 100% of the parent div */
}

#saveButton {
  display: block;
  background: #5352ed;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 20px 30px;
  border-radius: 3px;
  border: 1px solid;
  border-radius: 0.5rem;
  width: 100%;
}

#saveButton:hover {
  background: #3742fa;
}
