html,
body {
  margin: 0;
  padding: 0;
  background: #f6f9fc;
}
canvas {
  display: block;
}


@font-face {
  font-family: "soehne";
  src: url(./fonts/soehne-fett.woff2) format("woff2");
}

  @font-face {
  font-family: "soehne";
    src: url(../fonts/soehne-kraftig.woff2) format("woff2");
}

@font-face {
  font-family: "TiemposHeadline";
  src: url(../fonts/TiemposHeadline/tiempos-headline-medium.woff2) format("woff2")}

  @font-face {
    font-family: "TiemposHeadline";
    src: url(./fonts/TiemposHeadline/tiempos-headline-light.woff2) format("woff2");
}


.intro-section {
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 70px;
  background-color: #e8f3e8;
  box-sizing: border-box;
}

.intro-container
{
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 130px;
  background-color: #e8f3e8;

}


#h1{
  display: block;
  font-family: 'TiemposHeadline', serif;
  font-weight: 600;
  font-size: 45px;
  color: #222222;
  text-align: center;
}

.divider1 {
  display: block;
  width: auto;
  margin-left: 70px;
  margin-right: 70px;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(63,63,55,.15);
}

.control-panel-divder1{
  display: block;
  width: auto;
  align-items: center;
  border-style: solid;
  border-width: 0.05rem;
  border-color: #878787;

}

#layout {
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 70px;
  margin-right: 70px;
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;

}
#canvas-parent {
  display: inline-block;
  /* height: max(50vh, 50vw);
  width: max(50vh, 50vw); */
  height: 1080px;
  width: 1080px;
  border-radius: 0.5rem;
  padding: 0.15rem;
  box-shadow: 0 2px 4px 0 rgba(63,63,55,.15);
    
}

.control-panel-grid {
  display: grid;
  grid-template-rows: 180px 180px 180px 180px;
  background-color: #ffff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 rgba(63,63,55,.15);
  padding: 0.5rem 2rem;
  height: 1070px;
  width: 280px;
  

}

.control-title{
  display: block;
  font-family: "soehne";
  font-size: 13pt;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  border-bottom: 2px solid #e8e8e8 ;
  letter-spacing: .1px;
  padding: 0 0 0.75rem
}


input#p5input:before {
  content: 'Choose a file (PNG or JPG)';
  display: block;
  background: #5352ed;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}


input#p5input:hover:before {
  background: #3742fa;
}

input#p5input::file-selector-button {
  display: none;
}

 .upload-tip {
  font-family: 'Inter', sans-serif;
  font-size: 9pt;
  margin: none;
  color: #878787;

}

#bg-control, #file-control {
  border: 1px solid var(--color-iron);
  border-radius: 0.5rem;
  
}




/* Track Styles for: Firefox */
input[type="range"]::-moz-range-track {
  background: #000000;
  height: 0.2rem;
}

/* CSS for Slider Grid option control  */
input[type="range"]::-webkit-slider-runnable-track {
  display: inline;
  height: 0.2rem;
  width: 2rem;
  background: #000000;
  outline: none;
  cursor: pointer;
}


/* Thumb Styles for: Chrome, Safari, Opera, and Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 5px;
  border-radius: 2rem;
  margin-top: -0.4rem; /* Centers thumb on the track */
  background-color: #6ced52;
  z-index: 1;
}

input[type=range]:hover::-webkit-slider-thumb {
  background-color:  #3742fa;
  cursor: pointer;
}


/* Thumb Styles for: Firefox */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 2rem; /*Removes default border-radius that FF applies*/
  background-color: #000000;
  height: 2rem;
  width: 2rem;
}

input[type=range]:hover::-moz-range-thumb {
  background:  #3742fa;
  cursor: pointer;
}



#bg-color button {
  display: inline-flex;
  height: 40px;
  width: 40px;
  border-radius: 2rem;
  color: transparent;
  cursor: pointer;
  border-color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#bg-color {
  display: flex;
  justify-content: space-between;
}

#b1 {
  background-color: #5352ed;
}

#b2 {
  background-color: #96a1eb;
}

#b3 {
  background-color: #49c5b6;
}

#b4 {
  background-color: #e8f3e8;
}

#b5 {
  background-color: #ffffff;
}

#b6 {
  background-color: #000000;
}


.downloadimage {
  padding: 25px;
}
#saveButton {
  cursor: pointer;
  padding-top: 25px;
}


