.header {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
  }
  
  .left-section {
    display: flex;
    align-items: center;
    margin-left: 70px;
  }
  
  
  .youtube-logo {
    height: 35px;
    
  }
  
  

  
  .right-section {
    width: 180px;
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
  }
  
  
  .current-user-picture {
    height: 32px;
    border-radius: 16px;
  }